.action-btn{
  margin: 2px;
  padding: 2px 10px;
}

.weather-info-div{
  background-color: #f1f1f1;
  padding: 5px;
}

.weather-info-div p{
  margin-bottom: 0px !important;
}
.weather-info-p{
  margin-top: 15px !important;
  margin-bottom: 5px !important;
}

.close-btn{
  float: right;
  margin: -30px;
}

.weather-popup-heading h1{
  font-size: 24px;
    color: #008f8f;
}
.weather-popup-icon{
  text-align: end;
}

@media screen and (max-width: 600px) {
  table {
      width: 100%;
      overflow-x: auto;
      display: block;
  }
  th, td {
      white-space: nowrap;
  }
}