<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
      <a class="navbar-brand" routerLink="/country">Weather Updates</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link"  routerLink="/country">Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/country">Country</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/city">City</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Header-->
<header class="header-bg">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <div class="text-center my-5">
                  <h1 class="display-5 fw-bolder text-white mb-2">Weather at Fingertips</h1>
                  <p class="lead text-white-50 mb-4">Seamlessly navigate weather updates. Swipe through forecasts, view radar maps, and stay ahead with our interactive and intuitive slider.</p>
              </div>
          </div>
      </div>
  </div>
</header>
<router-outlet></router-outlet>
 <!-- Footer-->
 <footer class="py-5 bg-dark">
  <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; 2024</p></div>
</footer>
